<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="main-content" class="col-md-9">
            <h1> سامانه‌ی انجام کار</h1>
            <div>
                <div class="col-sm-12">
                    <h3 style="display: inline-block">{{work.title}}</h3>
                    {% if logged_in == 1 and cuser.isEmployer == 0 and cuser.hasJob == 0 and work.hasEmployee == 0%}
                        <a class="btn btn-default" href="{% url 'users:assignJob' work.id %}">انجام می‌دم</a>
                    {% endif %}
                    <hr/>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">{{work.pub_date}} افزوده شده در تاریخ</div>
                <div class="col-sm-3">{{work.price}} هزار تومان</div>
                <div class="col-sm-3">{{work.show_estimate}}</div>
                <div class="col-sm-12">
                    <br/>
                    توضیحات:
                    <br/>
                    {{work.description}}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            {% if logged_in == 1 %}
                <h5> شما با نام کاربری {{user.username}} به عنوان کارمند وارد سیستم شده‌اید.</h5>
            {% endif %}
            <a class="btn btn-default btn-block" href="{% url 'users:index' %}">صفحه‌ی اصلی</a>
            {% if logged_in == 1 %}
                <a class="btn btn-default btn-block" href="{% url 'users:logout' %}">خروج</a>
            {% endif %}
        </div>
    </div>
    <footer>
        <hr/>
        <span>درباه‌ی ما</span>
        <span>قوانین</span>
    </footer>
</div>
</body>
</html>
