<!DOCTYPE html>
<html lang="fa">
<head>
<style>


td {
    text-align: right;
}
table, th, td {
  border:2px solid black;
}


</style>
</head>
<body>
<h1> <center> سامانه انجام کار </center> </h1>


<center>
<table style="width:75%">
    <tr> 
      <th>توضیحات</th>
      <th>صاحب کار</th>
      <th>تخمین زمانی</th>
      <th>ارزش کار</th>
      <th>عنوان کار</th>
    </tr>
    <tr>
        <td>کشساینبا شکسای بنمکاش سکمی نبایسب شمبن اشمنسای مبناشسی بنمکاش</td>
        <td> </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
      <td>16</td>
      <td>14</td>
      <td>10</td>
      <td>13</td>
      <td>100</td>
    </tr>
  </table>
</center>

</body>
</html>

